/* style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:bisque;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: darkblue;
}

nav {
  background: #f1add3;
  padding: 10px;
}

nav a {
  color: rgb(240, 232, 232);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color:blue
}

.container {
  padding: 40px;
}

.round-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #333;
}
.header{
  font-size: 10px;
}
.bull{
    padding: 6px 14px;
    background: purple;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bull:hover{
    background: plum;
    transform: scale(1.05);
}
    

